import {PrismaClient} from '@prisma/client';

export default class {{ screen_name }}Service {
  constructor(private prisma: PrismaClient) {}

  async create{{ screen_name }}(data: any, userId: number) {
    return this.prisma.{{ screen_name_lower }}.create({
      data: {
        ...data,
        userId,
      },
    });
  }

  async get{{ screen_name }}s(userId: number) {
    return this.prisma.{{ screen_name_lower }}.findMany({
      where: {
        userId,
      },
    });
  }
} 